node_modules
.env
.env.*
!.env.example
*.log
.git
.gitignore
.vscode
*.md
Dockerfile
.dockerignore
src
*.ts
*.tsx
*.json
eslint.config.mjs
postcss.config.mjs
tsconfig.tsbuildinfo
.swc
.vercel
.prettierrc
components.json
scripts
system-spec
